page-alterar-cadastro-cliente {
  
	ion-content{
		font-family: Noto Sans, sans-serif;
		background: #610B1C !important;
		//background: #BF0C2B !important;
	}

	.label[floating],
	.label[stacked],
	.input-has-focus .label[floating] {
    	color: #F25F2C ;
	}

	img {
		object-fit: resize;
		height: auto !important;
		width: 50%;	
	}

	/*classes*/
	img.center{
		display:block;
  		margin-left:auto;
  		margin-right:auto;
	}

	button.center{
		display:block;
  		margin-left:auto;
  		margin-right:auto;
	}

	.Fundo{
		background-color: #610B1C;
	}
	.Texto{
		color: #F1FCFB; 
	}

	/*id's*/
	#titulo_Cliente{
		color: #F25F2C;
		//color: #00C29C;
		//color:#FFFFFF;
		font-weight:600;
		text-align:center;
	}

	#h4_style{
		color:#F1FCFB;
		text-align:center;
	}

	#h4_style2{
		color:#F1FCFB;
		font-weight:300;
		text-align:center;
	}

	#botoes{
		background-color: #F5C05E;
		color: #BF0C2B;
		font-weight:600;
		font-size:20px;
	}

	#botoes2{
		color: #BF0C2B;
    	font-weight:600;
    	font-size:15px;
	}

	#spacer2{
		width: auto !important;
		height: 40px;
	}

	#spacer2{
		width: auto !important;
		height: 20px;
	}
}
