page-login-vendedor {
	*{
    	//font-family: Noto Sans, sans-serif;
	}

	ion-content{
		font-family: Noto Sans, sans-serif;
	    background: #0B3A61 !important;
	}

	.label[floating],
	.label[stacked],
	.input-has-focus .label[floating] {
    	color: #FFCF40 ;
	}

	img {
	    object-fit: resize;
	    height: auto !important;
	    width: 50%;	
	}

	/*classes*/
	img.center{
	    display:block;
	    margin-left:auto;
	    margin-right:auto;
	}

	button.center{
	    display:block;
	    margin-left:auto;
	    margin-right:auto;
	}

    .invalid {
        border-bottom: 1px solid #ff6153;
    }

	.Fundo{
		background-color: #0B3A61;
	}
	.Texto{
		color: #F1FCFB; 
	}

    /*id's*/
	#titulo_Vendedor{
	    color: #FFCF40;
	    //color: #00C29C;
	    //color:#FFFFFF;
	    font-weight:600;
	    text-align:center;
	}

	#spacer2{
	    width: auto !important;
	    height: 40px;
	}

	#botoes{
	    background-color: #0D60BF;
	    color: #EEEC91;
	    font-weight:600;
	    font-size:20px;
	}

	#botoes2{
	    //background-color: #BF0C2B; 
	    color: #FFFFFF;
	    font-weight:600;
	    font-size:15px;
	}

	#spacer2{
		width: auto !important;
		height: 20px;
	}
}
