page-cat-assistencia {
/*tags modificadas*/
*{
    font-family: Noto Sans, sans-serif;
}

ion-content{
    background: #610B1C !important;
    //background: #BF0C2B !important;
}

img {
    object-fit: resize;
    height: auto !important;
    width: 50%;	
}

/*classes*/
img.center{
    display:block;
      margin-left:auto;
      margin-right:auto;
}

button.center{
    display:block;
      margin-left:auto;
      margin-right:auto;
}

/*id's*/
#titulo_Cliente{
    color: #FFCF40;
    //color: #00C29C;
    //color:#FFFFFF;
    font-weight:600;
    text-align:center;
}

#h4_style{
    color:#F1FCFB;
    text-align:center;
}

#h4_style2{
    color:#F1FCFB;
    font-weight:300;
    text-align:center;
}

#botoes{
    background-color: #F5C05E;
    color: #BF0C2B;
    font-weight:600;
    font-size:25px;
}

#botoes2{
    color: #BF0C2B;
    font-weight:600;
    font-size:25px;
}

#spacer1{
    width: auto !important;
    height: 15px;
}

#spacer2{
    width: auto !important;
    height: 48px;
}
}
