page-side-menu-cliente {
    ion-title {
		text-align: center;
    }	
    
    ion-content{
      font-family: Noto Sans, sans-serif;
      //background: #610B1C !important;
      //background: #BF0C2B !important;
    }

    .FundoSM{
      background: #F1FCFB !important;
    }

    .Rodape{
      font-size:18px;
    }
}
