page-reset-password {
    *{
    	font-family: Noto Sans, sans-serif;
	}

	ion-content{
	    background: #F1FCFB!important;
		text-align: center;
	}

	img {
	    object-fit: resize;
	    height: auto !important;
	    width: 50%;	
	}

	/*classes*/
	img.center{
	    display:block;
	    margin-left:auto;
	    margin-right:auto;
	}

	button.center{
	    display:block;
	    margin-left:auto;
	    margin-right:auto;
	}

    .invalid {
        border-bottom: 1px solid #ff6153;
    }

    /*id's*/
	#titulo{
	    color: #0D60BF;
	    //color: #00C29C;
	    //color:#FFFFFF;
	    font-weight:600;
	    text-align:center;
	}

	#spacer2{
	    width: auto !important;
	    height: 40px;
	}

	#botoes{
		background-color: #FFCF40;
		font-weight:600;
		color:#0B1A61;
		font-size:20px;
	}
  }