page-signup-freelancer {
	*{
		//font-family: Noto Sans, sans-serif;
	}

	ion-content{
		font-family: Noto Sans, sans-serif;
		background: #0B3A61 !important;
	}

	.label[floating],
	.label[stacked],
	.input-has-focus .label[floating] {
    	color: #FFCF40 ;
	}

	img {
		object-fit: resize;
		height: auto !important;
		width: 30%;	
	}

	/*classes*/
	img.center{
		display:block;
  		margin-left:auto;
  		margin-right:auto;
	}

	.Fundo{
		background-color: #0B3A61;
	}
	.Texto{
		color: #F1FCFB; 
	}

	/*id's*/
	#botoes{
	    background-color: #0D60BF;
	    color: #EEEC91;
	    font-weight:600;
		font-size:20px;
	}

	#header3{
		color:#F1FCFB;
		font-weight:600;
		text-align:center;
	}

	#header4{
		color:#F1FCFB;
		font-weight:300;
		text-align:center;
	}

	#spacer2{
		width: auto !important;
		height: 48px;
	}
}
