
<ion-header>

  <ion-navbar color = "primary">
      <ion-buttons start>
          <button ion-button menuToggle>
            <ion-icon side="left" name="menu"></ion-icon>
          </button>
      </ion-buttons>
     <!-- <ion-buttons end>
        <button ion-button icon-only (click)="logOut()">
          <ion-icon name ="log-out"></ion-icon>
        </button>
      </ion-buttons>-->
      <ion-title>Alterar Cadastro Vendedor</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>

        <ion-list-header>
          Informação Pessoal
        </ion-list-header>
    
        <ion-item (click)="updateName()">
          <ion-grid>
            <ion-row>
              <ion-col col-6> Nome </ion-col>
              <ion-col col-6 *ngIf="userProfile?.name || userProfile?.surname">
                {{userProfile?.name}} {{userProfile?.surname}}
              </ion-col>
              <ion-col col-6 class="placeholder-profile" *ngIf="!userProfile?.name">
                <span> Nome </span>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
    
        <ion-item (click)="updateRG()">
          <ion-grid>
            <ion-row>
              <ion-col col-6> RG </ion-col>
              <ion-col col-6 *ngIf="userProfile?.rg">
                {{userProfile?.rg}}
              </ion-col>
              <ion-col col-6 class="placeholder-profile" *ngIf="!userProfile?.rg">
                <span> RG </span>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
    
        <ion-item (click)="updateCPF()">
          <ion-grid>
            <ion-row>
              <ion-col col-6> CPF </ion-col>
              <ion-col col-6 *ngIf="userProfile?.cpf">
                {{userProfile?.cpf}}
              </ion-col>
              <ion-col col-6 class="placeholder-profile" *ngIf="!userProfile?.cpf">
                <span> CPF </span>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
    
        <ion-item (click)="updateAddress()">
            <ion-grid>
              <ion-row>
                <ion-col col-6> Endereço </ion-col>
                <ion-col col-6 *ngIf="userProfile?.address">
                  {{userProfile?.address}} {{userProfile?.complement}}
                </ion-col>
                <ion-col col-6 class="placeholder-profile" *ngIf="!userProfile?.address">
                  <span> Endereço </span>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
    
        <ion-item (click)="updateEmail()">
          <ion-grid>
            <ion-row>
              <ion-col col-6> Email </ion-col>
              <ion-col col-6 *ngIf="userProfile?.email">
                {{userProfile?.email}}
              </ion-col>
              <ion-col col-6 class="placeholder-profile" *ngIf="!userProfile?.email">
                <span> Email </span>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
    
        <ion-item (click)="updatePassword()">
            <ion-grid>
              <ion-row>
                <ion-col col-6> Senha </ion-col>
                <ion-col col-6 class="placeholder-profile">
                  <span> Senha </span>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
</ion-content>

